# dependencies
node_modules/
**/node_modules/

# env
.env
.env.local
**/.env
!.env.example

# builds
frontend/.next/
frontend/out/
backend/dist/
*.tsbuildinfo

# python
rag-service/.venv/
rag-service/__pycache__/
**/__pycache__/
*.pyc
rag-service/.cache/

# prisma
backend/prisma/migrations/dev.db*

# misc
.DS_Store
*.log
npm-debug.log*
coverage/
.idea/
.vscode/*
!.vscode/extensions.json
